<div class="dwm-tracker-container">
{{#each data}}
    <fieldset class="dwm-results" data-user-id="{{ @key }}">
        <legend>{{name}}</legend>
        {{#each dice}}
            <dwm-die-tracker class="dwm-result"
                data-user-id="{{ @../key }}"
                data-die-id="{{@key}}"
                data-type="{{type}}"
                data-options="{{options}}"
            >
            </dwm-die-tracker>
        {{/each}}
    </fieldset>
{{/each}}
</div>